version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '06:00'
      timezone: 'Europe/Berlin'
    rebase-strategy: disabled
    labels:
      - 'dependencies'
      - 'automerge'
      - "kodiak: merge.method = 'squash'"
    ignore:
      - dependency-name: eslint
        versions:
          - '>= 10.0.0'
    groups:
      babel:
        patterns:
          - '@babel/*'
          - 'babel-*'
          - 'browserslist'
      eslint:
        patterns:
          - '@eslint-*'
          - '@eslint/*'
          - 'eslint-*'
          - 'eslint'
      jest:
        patterns:
          - '@jest/'
          - 'jest-*'
          - 'jest'
          - '@types/jest'
      laboperator-gmbh:
        patterns:
          - '@laboperator-gmbh/*'
